DATABASE_URL=postgresql://postgres:postgres@localhost:5432/minglesphereql
TEST_DATABASE_URL=postgresql://postgres:postgres@localhost:5432/minglesphereql_test
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=minglesphereql
